# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Kaggle data
data/*
!data/.gitkeep

# Saved binary models
results/*.joblib
*.pkl

# CatBoost artifacts
catboost_info/

# Logs and archives
*.log
*.zip
